
.Alarm__wrapper {
    font-size: 2rem;
}

.Alarm__rowWrapper > th,
.Alarm__rowWrapper > td {
    vertical-align: middle;
    text-align: center;
}

.Alarm__rowWrapper :first-child,
.Alarm__rowWrapper > :nth-child(2) {
    font-size: 1.5rem;
}

